<app-navbar></app-navbar>

<router-outlet></router-outlet>
<br/>
<br/>
<footer id="footer" class="container">
    <div class="row">
        <div class="col-12 text-center">
            <a style="width:22px; height: 16px; " href="#" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            |
            <a href="#" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            |
            <a href="#" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            |
            <a href="#" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
    <div class="row " style="text-align: center;">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 text-center">
            Copyrights | gidula@gmail.com
        </div>


    </div>
</footer>
