<section>
    <div style="text-align: center;">
        <h2 class="maim-title">About LiveAquaria</h2>
        <img src="../assets/Fish/About-Us-image.jpg" alt="about us" />
        <p style="font-family: Arial, Verdana, Geneva, Helevitica,  sans-serif; font-size: 16px; color: #336699;"> LiveAquaria is committed to offering sustainably raised aquatic life that is either aquacultured or responsibly harvested, which includes careful attention to both the animals and the habitat. </p>
        <p>
            LiveAquaria is your single destination for all things aquatic. Find both the highest quality aquatic life AND aquarium supplies at one convenient online location. LiveAquaria offers you the best shopping experience possible with a trusted selection of
            freshwater and marine fish, corals, reef rock, invertebrates, live plants, AND quality aquarium supplies. . . all at great prices! Our team takes extraordinary measures to ensure your order receives the best possible attention and care it
            deserves until it arrives safely to your home.
        </p>
    </div>
    <div>
        <p style="font-family:Arial,Verdana,Geneva,Helvetica; font-size: 16px; color: #336699;">
            <strong> The LiveAquaria Difference</strong></p>
        <ul>
            <li>
                <span style="font-family: Arial, Verdana, Geneva, Helevitica,  sans-serif; font-size: 16px; color: #336699; text-decoration: none; letter-spacing: 1px;"> <strong> LiveAquaria Coral Farm & Aquatic Life Facility</strong> </span> Hailed as
                one of the premier coral propagation and holding facilities in the nation, our cutting-edge facility employs the most sophisticated technology in lighting, filtration, water movement, and quarantine systems to ensure your new aquatic life
                purchases make a safe and successful transition into home aquariums. Located in Rhinelander, Wisconsin, our LiveAquaria Coral Farm & Aquatic Life Facility is home to our popular Diver's Den® WYSIWYG Store.</li>
            <li>
                <span style="font-family: Arial, Verdana, Geneva, Helevitica,  sans-serif; font-size: 16px; color: #336699; text-decoration: none; letter-spacing: 1px;"> <strong> Diver's Den® WYSIWYG Store </strong> </span> Shop aquatic life with confidence
                knowing you’ll receive the EXACT item and not a representative photo of what you are ordering. Find one-of-a kind Marine and Freshwater Fish, Aquacultured Corals, Clams, LPS Corals, SPS Corals, Maricultured Corals, Polyp, Mushroom, and
                Soft Corals, Nonphotosynthetic (NPS) Corals, and Invertebrates unlikely to see anywhere else.
            </li>
            <li>
                <span style="font-family: Arial, Verdana, Geneva, Helevitica,  sans-serif; font-size: 16px; color: #336699; text-decoration: none; letter-spacing: 1px;"> <strong> Captive-Bred and Aquacultured Aquatic Life Choices </strong> </span> We
                are proud to offer one of the largest selections of captive-bred and aquacultured aquatic life. We seek out the best fish, corals and invertebrates from the most responsible suppliers, aquaculture facilities, breeders, and hatcheries in
                the United States, Asia, and Europe to provide a viable alternative to wild harvested fish whenever possible.
            </li>
            <li>
                <span style="font-family: Arial, Verdana, Geneva, Helevitica,  sans-serif; font-size: 16px; color: #336699; text-decoration: none; letter-spacing: 1px;"> <strong> The Most Experienced and Responsible Aquatic Life Suppliers </strong> </span>                All LiveAquaria vendor partners must go through our extensive vetting process and meet our strict standards. LiveAquaria vendor partners must: Have documentation confirming responsible collection practices; Comply with all laws and regulations
                governing the responsible harvest and export of any aquatic life; and Be in accordance with international standards such as the International Air Transport Association (IATA) standards.
            </li>
            <li>
                <span style="font-family: Arial, Verdana, Geneva, Helevitica,  sans-serif; font-size: 16px; color: #336699; text-decoration: none; letter-spacing: 1px;"> <strong> Aquatic Life Education </strong> </span> LiveAquaria believes education
                and understanding species requirements is one of the keys to a successful aquarium. We offer extensive information on every species available at LiveAquaria to make the process of planning and researching potential inhabitants informative
                and convenient. We also have a comprehensive library of articles and videos on diverse aspects regarding aquarium ownership and husbandry, written by our expert aquatics staff and industry professionals to help hobbyists succeed.
            </li>
            <li>
                <span style="font-family: Arial, Verdana, Geneva, Helevitica,  sans-serif; font-size: 16px; color: #336699; text-decoration: none; letter-spacing: 1px;"> <strong> SigNature® Shipping of Aquatic Life </strong> </span> Because our first
                concern is for the health of the aquatic life we offer, we have developed the safest, most stress-free shipping system in the industry. Any handling of aquatic life is done so with the highest quality care and best practices for each species.
                Each specimen is visually inspected by our experienced aquatics staff before it is selected and shipped for your aquarium.
            </li>
            <li>
                <span style="font-family: Arial, Verdana, Geneva, Helevitica,  sans-serif; font-size: 16px; color: #336699; text-decoration: none; letter-spacing: 1px;"> <strong> Custom Packing of Aquatic Life </strong> </span> Once the animals in your
                order have been selected for shipment, they are carefully placed in new freshwater or saltwater of the proper pH and specific gravity inside multiple poly bags with thick liners to limit the chances of punctures or leaks. The bags are
                filled with pure oxygen and sealed with a special aluminum fastener for an air and watertight seal.
            </li>
            <li>
                <span style="font-family: Arial, Verdana, Geneva, Helevitica,  sans-serif; font-size: 16px; color: #336699; text-decoration: none; letter-spacing: 1px;"> <strong> Shipping of Aquatic Life </strong> </span> Once properly secured, your order
                is placed in special, insulated coolers to maintain a stable temperature during transit (if necessary, warmers or ice packs are included at no additional cost to regulate proper temperature). The cooler is then placed in a corrugated cardboard
                box, with proper identification of live contents, to be shipped next day air for arrival at your door the following day.
            </li>
            <li>
                <span style="font-family: Arial, Verdana, Geneva, Helevitica,  sans-serif; font-size: 16px; color: #336699; text-decoration: none; letter-spacing: 1px;"> <strong> Detailed Acclimation Guide </strong> </span> Our comprehensive online acclimation
                guides will guide you step-by-step through the process of successfully acclimating your new aquatic life to their new home.
            </li>
            <li>
                <span style="font-family: Arial, Verdana, Geneva, Helevitica,  sans-serif; font-size: 16px; color: #336699; text-decoration: none; letter-spacing: 1px;"> <strong> Arrive Alive, Stay Alive®, Risk-Free Guarantees </strong> </span> When you
                order live fish or any aquatic life from LiveAquaria, your purchase is backed by our Live Arrival Guarantee, 7-day Arrive Alive, Stay Alive®, Risk-Free Guarantee or an unprecedented 30-day guarantee for our Certified Captive Grown Corals!
            </li>
            <li>
                <span style="font-family: Arial, Verdana, Geneva, Helevitica,  sans-serif; font-size: 16px; color: #336699; text-decoration: none; letter-spacing: 1px;"> <strong> Premium Selection of Fish Foods and Aquarium Supplies </strong> </span>                In addition to the quality aquatic life you'll find at LiveAquaria, we also offer a selection of aquarium fish, coral, and invertebrate foods and aquarium supplies catered to the discerning hobbyist. Discover a large selection of hard-to-find
                live, frozen, and prepared food options to enhance nutritional variety and provide optimum nutrition.
            </li>
            <li>
                <span style="font-family: Arial, Verdana, Geneva, Helevitica,  sans-serif; font-size: 16px; color: #336699; text-decoration: none; letter-spacing: 1px;"> <strong> Detailed Aquarium Product Descriptions </strong> </span> Each of our product
                pages for aquarium supplies contain detailed description full of useful information to ease product selection and increase your ability to make informed purchasing decisions.
            </li>
            <li>
                <span style="font-family: Arial, Verdana, Geneva, Helevitica,  sans-serif; font-size: 16px; color: #336699; text-decoration: none; letter-spacing: 1px;"> <strong> Easy Aquarium Supplies Return </strong> </span> We are committed to ensuring
                enjoyment of your purchase and experience with LiveAquaria. If your order arrives damaged or defective, please call our Customer Service Team at 1-800-334-3699 within 30 days of purchase.
            </li>
            <li>
                <span style="font-family: Arial, Verdana, Geneva, Helevitica,  sans-serif; font-size: 16px; color: #336699; text-decoration: none; letter-spacing: 1px;"> <strong> Free Shipping </strong> </span> Aquatic-life-only orders over $179 ship
                FedEx Priority Overnight for free. Aquarium-supplies-only orders over $49 ship economy ground for free. Aquatic life and aquarium supply orders are processed separately to expedite delivery. Exclusions apply.See full details.
            </li>
        </ul>
    </div>
</section>

<div style="text-align: center;">

    <h2>directions to arrive to our office</h2>

    <strong> our address is LiveAquaria.com
      2389 Air Park Road
      Rhinelander, WI 54501

    </strong>
</div>
<br>
<br>
<div style="text-align: center;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3519.669053397116!2d-81.90414618500331!3d28.095636082632684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88dd405086af6925%3A0x11b16dd78d7ef532!2s2720%20Grimes%20Rd%2C%20Lakeland%2C%20FL%2033805%2C%20USA!5e0!3m2!1sen!2sil!4v1648978190445!5m2!1sen!2sil"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
